<html xmlns:th="http://www.thymeleaf.org">
<body>
<!--  Navbar Fragment -->
<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary animate__animated animate__fadeInDown">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="/">AEM Builder</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
<!--        <ul class="navbar-nav ms-auto">-->
<!--          <li class="nav-item"><a class="nav-link" href="/">Dashboard</a></li>-->
<!--          <li class="nav-item"><a class="nav-link" href="/create">Create</a></li>-->
<!--        </ul>-->
      </div>
    </div>
  </nav>
</div>

<!--  Footer Fragment -->
<div th:fragment="footer">
  <footer class="bg-light py-3 mt-5 text-center border-top animate__animated animate__fadeInUp">
    <small class="text-muted">&copy; 2025 AEM Project Generator. All rights reserved.</small>
  </footer>
</div>
</body>
</html>