.removable-item { position: relative; padding-right: 20px; }
        .remove-btn { position: absolute; top: 3px; right: 5px; color: red; cursor: pointer; }
        #successMessage {
            display: none;
        }

